
body {
  font-family: Arial, sans-serif;
  background-color: indigo;
}

#root {
  display: flex;
  justify-content: center;
  padding: 20px;
}

h1 {
  text-align: center;
  color: lightcoral;
}

.main-content {
  display: flex;
  gap: 20px;
}

.Formulario {
  flex: 2;
}

.Botonera {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.Boton {
  background-color: greenyellow;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: fantasy;
}

.BotonEliminar {
  background-color: coral;
}

.Boton:hover {
  opacity: 0.8;
}

.NotaItem {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.InputNombre, .InputMateria, .InputNota {
  padding: 5px;
  border: 1px solid goldenrod;
  border-radius: 4px;
}

.SoporteNotas {
  flex: 1;
}

.NotasIngresadas, .PromedioNotas {
  background-color: skyblue;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: goldenrod;
}

.Titulo, .Promedio {
  margin: 0;
}
